{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> <!-- Corresponde a los caracteres especiales -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Corresponde al responsive de la página escala al 1 -->
    <title>Selección</title> <!-- El título -->
    <link rel="stylesheet" href="{% static 'ingreso/seleccion/css/styles.css' %}">
    <!-- Corresponde a la ubicación de los estilos en CSS -->
    <meta name="description" content="Selección con base en roles SENDAPP.">
    <!-- Corresponde a la descripción de la página -->
    <meta name="keywords" content="Sendapp, seleccionar, CDITI">
    <!-- Corresponde a la identificación en búsqueda con palabras especiales -->
    <meta name="author" content="Camilo Copete, Jhon Montes, Jose Murillo, Daniela Carvajal">
    <!-- Corresponde a los creadores de la página web -->
    <script src="https://kit.fontawesome.com/3348c62911.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e440d697bd.js" crossorigin="anonymous"></script>
    <script LANGUAJE="JavaScript">window.history.forward()</script>
</head>

<body>

    <div class="background"></div>
    <div class="container">
        <div class="container2">
            <div class="content">
                <a class="left" href="{% url 'home' %}"><i class="fa-solid fa-user-graduate"></i>Aprendiz</a>
                <a class="right" href="{% url 'ingresar' %}"><i class="fa-solid fa-user-shield"></i>Bienestar</a>

            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            if (performance.navigation.type === 2) {
                // El usuario presionó el botón "Atrás" del navegador
                window.location.replace("{% url 'login' %}");
            }
        };
    </script>
</body>

</html>